
[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

# # setup for Zodiac/Aspect calculations hook
# [[patches]]
# [patches.pattern]
# target = 'functions/state_events.lua'
# # not sure yet so leaving this empty
# pattern = '' 
# # again not sure so leaving this empty
# payload = '''

# '''
# position = 'after'
# match_indent = true
# overwrite = false

# Mind functionality setup

[[patches]]
[patches.pattern]
target = 'functions/state_events.lua'
pattern = 'local hand_space = e or math.min(#G.deck.cards, G.hand.config.card_limit - #G.hand.cards)'
payload = '''
if G.GAME.BALATROSTUCK.current_aspect == 'Mind' and (G.GAME.current_round.hands_played > 0 or
G.GAME.current_round.discards_used > 0) then
    hand_space = math.min(#G.deck.cards, G.GAME.BALATROSTUCK.aspect_levels['Mind']+3) 
end
'''
position = 'after'
match_indent = true
overwrite = false

#Debuff functionality
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
if self.ability.perishable and self.ability.perish_tally <= 0 then 
    if not self.debuff then
        self.debuff = true
        if self.area == G.jokers then self:remove_from_deck(true) end
    end
    return
end
'''
position = "after"
payload = '''
if next(find_joker("Redblood")) and self.ability.name == "Wild Card" then should_debuff = false end
'''
match_indent = true

#Negative bonus chips UI
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
                    bonus_chips = (self.ability.bonus + (self.ability.perma_bonus or 0)) > 0 and (self.ability.bonus + (self.ability.perma_bonus or 0)) or nil,
'''
position = "at"
payload = '''
                    bonus_chips = (self.ability.bonus + (self.ability.perma_bonus or 0)) ~= 0 and (self.ability.bonus + (self.ability.perma_bonus or 0)) or nil,
'''
match_indent = true