
[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

# # setup for Zodiac/Aspect calculations hook
# [[patches]]
# [patches.pattern]
# target = 'functions/state_events.lua'
# # not sure yet so leaving this empty
# pattern = '' 
# # again not sure so leaving this empty
# payload = '''

# '''
# position = 'after'
# match_indent = true
# overwrite = false

# Mind functionality setup

[[patches]]
[patches.pattern]
target = 'functions/state_events.lua'
pattern = 'local hand_space = e or math.min(#G.deck.cards, G.hand.config.card_limit - #G.hand.cards)'
payload = '''
if G.GAME.BALATROSTUCK.current_aspect == 'Mind' and (G.GAME.current_round.hands_played > 0 or
G.GAME.current_round.discards_used > 0) then
    hand_space = math.min(#G.deck.cards, G.GAME.BALATROSTUCK.aspect_levels['Mind']+3) 
end
'''
position = 'after'
match_indent = true
overwrite = false

#Debuff functionality
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
if self.ability.perishable and self.ability.perish_tally <= 0 then 
    if not self.debuff then
        self.debuff = true
        if self.area == G.jokers then self:remove_from_deck(true) end
    end
    return
end
'''
position = "after"
payload = '''
if next(find_joker("Redblood")) and self.ability.name == "Wild Card" then should_debuff = false end
'''
match_indent = true

#Negative bonus chips UI
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
                    bonus_chips = (self.ability.bonus + (self.ability.perma_bonus or 0)) > 0 and (self.ability.bonus + (self.ability.perma_bonus or 0)) or nil,
'''
position = "at"
payload = '''
                    bonus_chips = (self.ability.bonus + (self.ability.perma_bonus or 0)) ~= 0 and (self.ability.bonus + (self.ability.perma_bonus or 0)) or nil,
'''
match_indent = true


# final_scoring_step support for jokers
[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = "local nu_chip, nu_mult = G.GAME.selected_back:trigger_effect{context = 'final_scoring_step', chips = hand_chips, mult = mult}"
position = "after"
payload = '''
for j = 1, #G.jokers.cards do
    local tempTable = G.jokers.cards[j]:calculate_joker({final_scoring_step = true})
    if tempTable ~= nil then
        nu_chip = tempTable[1] or nu_chip
        nu_mult = tempTable[2] or u_mult
    end
end
'''
match_indent = true
times = 1

# Slabs
[[patches]]
[patches.regex]
target = "game.lua"
pattern = "(?<indent>[\t ]*)self.P_TAGS = \\{"
position = "before"
line_prepend = '$indent'
payload = '''
self.P_SLABS = {}
'''

[[patches]]
[patches.regex]
target = "game.lua"
pattern = "(?<indent>[\t ]*)self.P_CENTER_POOLS = \\{\\n"
position = "after"
line_prepend = '$indent$indent'
payload = '''
Slabs = {},
'''

[[patches]]
[patches.regex]
target = "game.lua"
pattern = "(?<indent>[\t ]*)G\\.GAME\\.tags = \\{\\}\\n"
position = "after"
line_prepend = '$indent'
payload = '''
G.GAME.slab = nil
'''

[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = "table.insert(cards, G.hand.highlighted[i])"
position = "before"
match_indent = true
payload = '''
if G.GAME.slab ~= nil then
    local eval = nil
    eval = G.GAME.slab:apply_to_run({discard = true, other_card = G.hand.highlighted[i], full_hand = G.hand.highlighted})
end
'''
times = 1

[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = "inc_career_stat('c_cards_discarded', highlighted_count)"
position = "after"
match_indent = true
payload = '''
if G.GAME.slab ~= nil then
    local slab_eval = nil
    slab_eval = G.GAME.slab:apply_to_run({pre_discard = true, full_hand = G.hand.highlighted, hook = hook})
end
'''
times = 1

[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = "if G.GAME.round_resets.ante == G.GAME.win_ante and G.GAME.blind:get_type() == 'Boss' then"
position = "before"
match_indent = true
payload = '''
if G.GAME.slab ~= nil then
    local slab_eval = nil
    slab_eval = G.GAME.slab:apply_to_run({end_of_round = true, game_over = game_over})
end
'''
times = 1

[[patches]]
[patches.pattern]
target = "game.lua"
pattern = "ease_background_colour_blind(G.STATES.DRAW_TO_HAND)"
position = "before"
match_indent = true
payload = '''
if G.GAME.slab ~= nil then
    local slab_eval = nil
    slab_eval = G.GAME.slab:apply_to_run({start_of_round = true})
end
'''
