[manifest]
version = "1.0.0"
dump_lua = true
priority = 0



# Context.Ace_Dick
[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = "hand_chips = mod_chips(nu_chip or hand_chips)"
position = "after"
payload = '''
SMODS.calculate_context({ace_dick = true})
'''
match_indent = true
times = 1


# Context.changing_suit
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = 'function Card:change_suit(new_suit)'
position = "after"
payload = '''
SMODS.calculate_context({changing_suit = true, other_card = self, new_suit = new_suit})
'''
match_indent = true
times = 1


# WHY DOESN'T SIGIL USE CHANGE_SUIT? WHY MUST YOU CURSE ME LOCALTHUNK
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = "function Card:set_base(card, initial)"
position = "after"
payload = '''
if not initial then
    if card.suit ~= self.base.suit then
        SMODS.calculate_context({changing_suit = true, other_card = self, new_suit = card.suit})
    end
end
       
'''
match_indent = true
times = 1

# Store Joker Modify 
# NOTE: ONLY COMPATIABLE WITH JOKERS RIGHT NOW, WILL NEED TO BE UPDATED TO NEW CALC IF WE NEED IT FOR ANYTHING ELSE
[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = "G.GAME.spectral_rate = G.GAME.spectral_rate or 0"
position = "after"
payload = '''
local forced_joker = nil
for j = 1, #G.jokers.cards do
    if not forced_joker then
        forced_joker = G.jokers.cards[j]:calculate_joker({store_joker_create = true, shop_card = card, debugstring = 'Apple'})
    if forced_joker then
        for j = 1, #G.jokers.cards do
            if G.jokers.cards[j]:calculate_joker({store_joker_modify = true, shop_card = forced_joker, debugstring = 'Cherry'}) then break end
        end
        return forced_joker end
    end
end
'''
match_indent = true
times = 1


[[patches]]
[patches.regex]
target = "functions/UI_definitions.lua"
pattern = '''(?<indent>[\t ]*)                    for k, v in ipairs\(G\.GAME\.tags\) do'''
position = "before"
line_prepend = '$indent'
payload = '''
for j = 1, #G.jokers.cards do
    if G.jokers.cards[j]:calculate_joker({store_joker_modify = true, shop_card = card, debugstring = 'Banana'}) then break end
end
'''
times = 1

[[patches]]
[patches.pattern]
target = "game.lua"
pattern = "for _kk, vvv in ipairs(G.GAME.tags) do"
position = "before"
payload = '''
for j = 1, #G.jokers.cards do
    if G.jokers.cards[j]:calculate_joker({store_joker_modify = true, shop_card = v, debugstring = 'Kiwi'}) then break end
end
'''
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = "local card = create_card(v.type, area, nil, nil, nil, nil, nil, 'sho')"
position = "after"
payload = '''
SMODS.calculate_context({store_joker_replace = true, shop_card = card})
'''
match_indent = true
times = 1








[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/overrides.lua"]'
pattern = "if type(edition) == 'string' then"
position = "before"
payload = '''
if edition == 'e_bstuck_paradox' then
    SMODS.calculate_context({paradox_created = true, card = self})
end
'''
match_indent = true
times = 1





[[patches]]
[patches.pattern]
target = "card.lua"
pattern = "function Card:remove_from_deck(from_debuff)"
position = "after"
payload = '''
if self.ability.set == 'Joker' and not from_debuff and self.added_to_deck then
    SMODS.calculate_context({other_card = self, BSTUCK_joker_destroyed = true})
end
'''
match_indent = true
times = 1