
[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

#Jetpack
[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = '''
G.STATE = G.STATES.GAME_OVER
'''
position = "after"
payload = '''
check_for_unlock({type = 'bstuck_jetpack'})
'''
match_indent = true
times = 1

#SoporPie1
[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = '''
G.STATE = G.STATES.GAME_OVER; G.STATE_COMPLETE = false 
'''
position = "after"
payload = '''
check_for_unlock({type = 'bstuck_soporpie'})
'''
match_indent = true
times = 1

#SoporPie2
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''
if #G.hand.cards < 1 and #G.deck.cards < 1 and #G.play.cards < 1 then
'''
position = "after"
payload = '''
if #G.deck.cards < 1 then
check_for_unlock({type = 'bstuck_soporpie'})
end
'''
match_indent = true
times = 1

#Signless
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = "function Card:use_consumeable(area, copier)"
position = "after"
payload = '''
local test_for_signless = true
for k, v in pairs(G.P_CENTER_POOLS['Zodiac']) do
    if not v.discovered then test_for_signless = nil end
end
if test_for_signless then check_for_unlock({type = 'bstuck_signless'}) end
'''
match_indent = true
times = 1

#Questbed
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = "function Card:use_consumeable(area, copier)"
position = "after"
payload = '''
local test_for_questbed = true
for k, v in pairs(G.P_CENTER_POOLS['Aspect']) do
    if not v.key == 'piss' then
        if not v.discovered then test_for_questbed = nil end
    end
end
if test_for_questbed then check_for_unlock({type = 'bstuck_questbed'}) end
'''
match_indent = true
times = 1

#Frost and Frogs
[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/overrides.lua"]'
pattern = "SMODS.calculate_context({paradox_created = true, cards = self})"
position = "after"
payload = '''    
    G.paradoxCounter = G.paradoxCounter and (G.paradoxCounter + 1) or 1
    if G.paradoxCounter >= 100 then check_for_unlock({type = 'bstuck_frostandfrogs'}) end
'''
match_indent = true
times = 1

#FL1P
[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''
unlock_achievement('_100000k')
        end
'''
position = "after"
payload = '''
 if args.chips >= 16777216 then
            check_for_unlock({type = 'bstuck_luckybreak'})
        end
'''
match_indent = true
times = 1

#FL1P
[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = '''
 if G.GAME.round_resets.ante == G.GAME.win_ante and G.GAME.blind:get_type() == 'Boss' then
                game_won = true
                G.GAME.won = true
            end
'''
position = "after"
payload = '''
 if G.GAME.round_resets.ante == 12 then
            if #G.vouchers.cards == 0 then
            check_for_unlock({type = 'bstuck_tanglebuddies'})
            check_for_unlock({type = 'bstuck_horrorterrors'})
            end
        end
'''
match_indent = true
times = 1

#FANFICJOKERS
[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = '''
check_and_set_high_score('current_streak', G.PROFILES[G.SETTINGS.profile].high_scores.current_streak.amt+1)
'''
position = "after"
payload = '''
 if G.GAME.selected_back.effect.center.key == 'b_painted' then
           check_for_unlock({type = 'bstuck_vasterror'})
           check_for_unlock({type = 'bstuck_descendascend'})
           check_for_unlock({type = 'bstuck_verticle'})
           check_for_unlock({type = 'bstuck_convention'})
           check_for_unlock({type = 'bstuck_paintseal'})
        end
'''
match_indent = true
times = 1